<!DOCTYPE html>

<head>
    <title>mercado-liebre-v2</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <link href="/css/styles.css"
    rel="stylesheet">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link 
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" 
    rel="stylesheet">
</head>

<body>
    <header>
        <section id= "fullsize-top-header-container">
        <section id = "top-header-container">
            <img id="logo-header" src="./images/logo-mercado-liebre.svg">
            <form id="search-container">
            <input id="input-search-header" type="search" placeholder="Buscar productos, marcas">
            <button id="search-button-header" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </section>
         <div id="text-header"><i class="fas fa-hand-holding-usd"></i>
            <a>Comprá en cuotas y sin tarjeta de crédito</a></div>
        </section>

         <section id="header-lists-container">
             <nav id="site-nav-bar"><ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul></nav>
        <nav id="login-nav-bar"><ul>
            <li><a href="register"> Creá tu cuenta<i class="far fa-id-card"></i></a></li>
            <li><a href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
        </ul></nav>
         </section>

        <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>

    <section>
        <img id="home-banner" src="/images/img-home-banner.jpg">
    </section>

    <main>
        <div class="div-recomendations"><br>
            <p class="main-title">Basado en tu última visita</p>
                <section class="articles-list" >
                    <article>
                             <section >
                            <img class="image-article"src="./images/img-cafetera-moulinex.jpg">
                        </section>
                        <section class="article-container">
                            <a class="fas fa-truck"></a>
                            <div id="price-container">
                            <a class="price-article">$6.770</a>
                            <a class="discount-article">40% Off</a>
                            </div>
                            <a class="description-article">Cafetera Moulinex</a>
                        </section>
                    </article>
        
                    <article>
                        <section >
                            <img class="image-article"src="./images/img-macbook-pro-2019.jpg">
                        </section>
                        <section class="article-container">
                            <a class="fas fa-truck"></a>
                            <div id="price-container">
                            <a class="price-article">$230.000</a>
                            <a class="discount-article">20% Off</a>
                            </div>
                            <a class="description-article">MacBook Pro 2019</a>
                        </section>
                    </article>
        
                    <article>
                        <section >
                            <img class="image-article"src="./images/img-samsung-galaxy-s10.jpg">
                        </section>
                        <section class="article-container">
                            <a class="fas fa-truck"></a>
                            <div id="price-container">
                            <a class="price-article">$70.500</a>
                            <a class="discount-article">10% Off</a>
                            </div>
                            <a class="description-article">Samsung Galaxy S10</a>
                        </section>
                    </article>
                    
                    <article>
                        <section >
                            <img class="image-article"src=".\images\img-tv-samsung-smart.jpg">
                        </section>
                        <section class="article-container">
                            <a class="fas fa-truck"></a>
                            <div id="price-container">
                            <a class="price-article">$23.200</a>
                            <a class="discount-article">5% Off</a>
                            </div>
                            <a class="description-article">Smart Tv Samsung 43"</a>
                        </section>
                    </article>
                </section>
            </div>
        <div class="div-recomendations">
            <p class="main-title">Ofertas</p>
            <section class="articles-list">
                <article>
                    <section >
                        <img class="image-article"src="./images/img-cafetera-moulinex.jpg">
                    </section>
                    <section class="article-container">
                        <a class="fas fa-truck"></a>
                        <div id="price-container">
                        <a class="price-article">$6.770</a>
                        <a class="discount-article">40% Off</a>
                        </div>
                        <a class="description-article">Cafetera Moulinex</a>
                    </section>
                </article>
    
                <article>
                    <section >
                        <img class="image-article"src="./images/img-macbook-pro-2019.jpg">
                    </section>
                    <section class="article-container">
                        <a class="fas fa-truck"></a>
                        <div id="price-container">
                        <a class="price-article">$230.000</a>
                        <a class="discount-article">20% Off</a>
                        </div>
                        <a class="description-article">MacBook Pro 2019</a>
                    </section>
                </article>
    
                <article>
                    <section >
                        <img class="image-article"src="./images/img-samsung-galaxy-s10.jpg">
                    </section>
                    <section class="article-container">
                        <a class="fas fa-truck"></a>
                        <div id="price-container">
                        <a class="price-article">$70.500</a>
                        <a class="discount-article">10% Off</a>
                        </div>
                        <a class="description-article">Samsung Galaxy S10</a>
                    </section>
                </article>
                
                <article>
                    <section >
                        <img class="image-article"src=".\images\img-tv-samsung-smart.jpg">
                    </section>
                    <section class="article-container">
                        <a class="fas fa-truck"></a>
                        <div id="price-container">
                        <a class="price-article">$23.200</a>
                        <a class="discount-article">5% Off</a>
                        </div>
                        <a class="description-article">Smart Tv Samsung 43"</a>
                    </section>
                </article>
            </section>
        </div>
    </main>

    <footer>
        <section id="footer-stuff-container">
        <section>
            <i class="fas fa-credit-card fa-2x"></i>
            <p class="title-footer">Pagá con tarjeta o en efectivo</p>
            <p class="text-footer"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro! </p>
        </section>

        <section>
            <i class="fas fa-gift fa-2x"></i>
            <p class="title-footer">Envío gratis desde $2.500</p>
            <p class="text-footer"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos. </p>
        </section>

        <section>
            <i class="fas fa-user-shield fa-2x"></i>
            <p class="title-footer">Seguridad, de principio a fin</p>
            <p class="text-footer"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        </section>

        <section>
            <p id= "copyright-footer"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>